$primary: #ea4746;
$secondary: #132530;

:root {
    --primary-hue: 0;
    --secondary-hue: 203;
    --color--primary: hsl(var(--secondary-hue), 43%, 13%);
    --color--secondary: hsl(var(--primary-hue), 80%, 60%);
}